<div class="col-sm-6" ng-repeat="user in users">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="clearfix">
        <a href="" class="pull-left thumb-md avatar b-3x m-r">
          <img ng-src="{{user.avatar}}" alt="...">
        </a>
        <div class="clear">
          <div class="h3 m-t-xs m-b-xs">
            {{user.name+' '+user.lastName}}
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
        <div>
          First name:
              <a editable-text="user.name" ng-bind="user.name" onaftersave="submit(user)"></a>
        </div>
        <div>
          Last name:
              <a editable-text="user.lastName" ng-bind="user.lastName" onaftersave="submit(user)"></a>
        </div>
        <div>
          Admin:
              <a in-place-checkbox="user.admin" e-title="" ng-bind="user.admin" onaftersave="submit(user)" ng-hide="user.id===me.id"></a>
              <span ng-bind="user.admin"ng-show="user.id===me.id"></span>
        </div>
    </div>
  </div>
</div>
