<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
  <button class="pull-right visible-xs dk" dropdown>
    <i class="glyphicon glyphicon-cog" dropdown-toggle></i>
    <ul class="dropdown-menu animated fadeInRight w">
      <li>
        <a ui-sref="admin.actionPanel.profile">Profile</a>
      </li>
      <li class="divider"></li>
      <li>
        <a ng-click="logout()">Logout</a>
      </li>
    </ul>
  </button>

  <button class="pull-right visible-xs" dropdown>
    <i class="glyphicon glyphicon-align-justify" dropdown-toggle></i>
    <ul class="dropdown-menu animated fadeInRight w">
      <li ui-sref-active="active">
        <a ui-sref="admin.actionPanel.events">
          <i class="icon-star icon"></i>
          <span>Events</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="admin.actionPanel.users">
          <i class="icon-user icon"></i>
          <span>Users</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="home">
          <i class="icon-home icon"></i>
          <span>Home page</span>
        </a>
      </li>
    </ul>
  </button>
  <!-- brand -->
  <a ui-sref="admin.actionPanel.users" class="navbar-brand text-lt">
    <i class="fa fa-graduation-cap"></i>
    <span class="hidden-folded m-l-xs" ng-bind="app.name"></span>
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
 <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
   <ul class="nav navbar-nav navbar-right">
     <li class="dk dropdown" dropdown>
       <a href class="dk text-dark dropdown-toggle" dropdown-toggle >
         <i class="fa fa-gear fa-fw"></i>
       </a>
       <!-- dropdown -->
       <div class="dropdown-menu w-xl animated fadeInUp">
         <div class="panel bg-white">
           <div class="list-group">

               <a ui-sref="admin.actionPanel.events" class="media list-group-item">
                 <span class="pull-left thumb-sm"><i class="icon-star icon"></i></span>
                 <span class="pull-left m-b-none">Events</span>
               </a>
               <a ui-sref="admin.actionPanel.users" class="media list-group-item">
                 <span class="pull-left thumb-sm"><i class="icon-user icon"></i></span>
                 <span class="pull-left m-b-none">Users</span>
               </a>
               <a ui-sref="home" class="media list-group-item">
                 <span class="pull-left thumb-sm"><i class="icon-home icon"></i></span>
                 <span class="pull-left m-b-none">Home page</span>
               </a>

           </div>
         </div>
       </div>
       <!-- / dropdown -->
     </li>

     </ul>
 </div>
<!-- / navbar collapse -->
