
<div class="app-header navbar" ng-include="'app/home/views/mainHeader.html'">
</div>

<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
  app.settings.asideFolded = true;
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.headerFixed = true;
  app.hideAside = true
  ">
  <!-- main -->
  <div class="col wrapper-lg">
    <h3 class="font-thin m-t-n-xs m-b">Main menu</h3>
    <div class="row row-sm">

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4" ng-show="user.admin">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm"></span>
            </div>

            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a ui-sref="admin.actionPanel.users"><i class="fa fa-2x fa-gear text-white"></i></a>
              </div>
            </div>
            <a ui-sref="admin.actionPanel.users"><div class="box"><img src="assets/images/admin.jpg" alt="" class="img-full r r-2x" style="position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1;"></div></a>
          </div>
          <div class="padder-v">
            <a ui-sref="admin.actionPanel.users" class="text-ellipsis">Admin page</a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm">count</span>
            </div>

            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a ui-sref="events.list"><i class="fa fa-2x fa-star text-white"></i></a>
              </div>
            </div>
            <a ui-sref="events.list"><div class="box"><img src="assets/images/events.jpg" alt="" class="img-full r r-2x" style="position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1;"></div></a>
          </div>
          <div class="padder-v">
            <a ui-sref="events.list" class="text-ellipsis">Events</a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm"></span>
            </div>

            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a ui-sref="show.guideversions({fold:book.id})"><i class="fa fa-2x fa-weixin text-white"></i></a>
              </div>
            </div>
            <a ui-sref="show.guideversions({fold:book.id})"><div class="box"><img src="assets/images/chatroom.png" alt="" class="img-full r r-2x" style="position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1;"></div></a>
          </div>
          <div class="padder-v">
            <a ui-sref="show.guideversions({fold:book.id})" class="text-ellipsis">Chatrooms</a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm"></span>
            </div>

            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a ui-sref="show.guideversions({fold:book.id})"><i class="fa fa-2x fa-user-plus text-white"></i></a>
              </div>
            </div>
            <a ui-sref="show.guideversions({fold:book.id})"><div class="box"><img src="assets/images/friend.jpg" alt="" class="img-full r r-2x" style="position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1;"></div></a>
          </div>
          <div class="padder-v">
            <a ui-sref="show.guideversions({fold:book.id})" class="text-ellipsis">Resolve(invite sibling)</a>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
        <div class="item">
          <div class="pos-rlt">
            <div class="top">
              <span class="badge bg-info m-l-sm m-t-sm"></span>
            </div>

            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
              <div class="center text-center m-t-n w-full">
                <a ui-sref="show.guideversions({fold:book.id})"><i class="fa fa-2x fa-question text-white"></i></a>
              </div>
            </div>
            <a ui-sref="show.guideversions({fold:book.id})"><div class="box"><img src="assets/images/qa.png" alt="" class="img-full r r-2x" style="position:absolute; top:0; left:0; right:0; bottom:0; z-index:-1;"></div></a>
          </div>
          <div class="padder-v">
            <a ui-sref="show.guideversions({fold:book.id})" class="text-ellipsis">Questions</a>
          </div>
        </div>
      </div>

      <div class="clearfix visible-xs"></div>


</div>
  </div>
